body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(80deg,red,rgb(4, 0, 255));
    overflow: hidden;
    font-family:'poppins';
}
#up{
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-image: linear-gradient(80deg,rgb(4, 0, 255),rgb(12, 255, 4));
    filter: blur(80px);
    animation: down 40s infinite;
}
#down{
    position: absolute ;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(255, 115, 0),navy);
    filter: blur(80px);
    animation: up 30s infinite;
}

#left{
    position: absolute ;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(0, 204, 255),rgb(250, 192, 0));
    filter: blur(80px);
    animation: up 30s infinite;
}
#right{
    position: absolute ;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(12, 255, 214),rgb(248, 48, 255));
    filter: blur(80px);
    animation: up 30s infinite;
}
#center{
    position: absolute ;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(172, 101, 104));
    filter: blur(80px);
    animation: up 30s infinite;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 50px;
    backdrop-filter: blur(5px);
    padding: 2opx 30px;
    color:#fff
}
.nav-list{
    display:flex ;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}
.nav-list li{
    margin: 0 20px;
    font-size: 15px;
    cursor: pointer;
}
.nav-list button{
  padding: 10px 20px;
  margin: 0 20px;
  border: 1px solid #fff;  
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  transition: all ease-in .4s;
  cursor: pointer;
}
.nav-list button:hover{
    background-color: #fff;
    color: #000;
}
#details{
   position: relative; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 80vh;
   z-index: 999;
   text-align: center;
   color: #ebe7e7
}
#details h1{
    font-size: 70px;
    text-align: center;
    line-height: 0px;
    text-shadow: 2px 5px 10px rgba(255, 255, 255, 0.2);
}
#details span{
    background-color: transparent;
    border: solid;
    font-size: 70px;
    font-weight: 600;
    padding: 0 20px;
}
#details p{
    width: 50px;
}
.social-icons{
    position: relative;
    text-align: center;
}
.social-icons a{
   color: #fff; 
   margin: 0 20px;
   font-size: 20px;
}
@keyframes down{
    0%, 100%{
        top: -100px;
    }
    70%{
       top: 700px;
    }
}
@keyframes up{
    0%, 100%{
        bottom: -100px;
    }
    70%{
       bottom: 700px;
    }
}
@keyframes  right{
    0%, 100%{
        right: -100px;
    }
    70%{
       right: 1300px;
    }
}
@keyframes  left{
    0%, 100%{
        left: -100px;
    }
    70%{
       left: 700px;
    }
}
button2{
    a:hover
{ color: #255784;
background: #2196f3;
box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
transition-delay: 1s;
}
    color: #000;
    background-color:#ffffff ;
    border: 1;
position: absolute;
transform: translate(-50%, -50%);
top: 90%;
left: 70%;
bottom: 1;
padding:  10px 20px;
font-size: 30px;
font-weight: bolder;
font-size: medium;
cursor: pointer;
border-radius: 12px;

}
    button1{
        a:hover
{ color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
 }
        color: #000;
        background-color:#ffffff ;
        border: 1;
position: absolute;
transform: translate(-50%, -50%);
top: 90%;
right: 53%;
bottom: 1;
padding: 10px 20px ;
font-size: 30px;
font-weight: bolder;
font-size: medium;
cursor: pointer;
border-radius: 12px;
}
  button{
    a:hover
{ color: #255784;
background: #2196f3;
box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
transition-delay: 1s;
}
    background-color:#ffffff ;
    color: #000;
    border: 1;
position: absolute;
transform: translate(-50%, -50%);
top: 90%;
right: 32%;
bottom: 1;
padding: 10px 20px ;
font-size: 30px;
font-weight: bolder;
font-size: medium;
cursor: pointer;
border-radius: 12px;
}
 button6{
    cursor: pointer;
border-radius: 12px;
 border: 10;
 }
 button7{
    text-decoration-style:dashed;
    cursor: context-menu;
border-radius: 12px;
 }
button8{
    cursor: context-menu;
border-radius: 12px;
top: 10%;
}
button9{
    cursor: context-menu;
border-radius: 12px;
}
button10{
    cursor: context-menu;
border-radius: 12px;
}
button11{
    cursor: context-menu;
border-radius: 12px;
}